<ul class="list-group" style="margin-left: 10px">

    <a style="color: #fdd600; text-decoration: none;margin-bottom: 20px" href="{% url 'employeePayments:e-payments-list' %}"><i class="fas fa-file-invoice-dollar"></i> Payment Tracker</a>

    <a style="color: #fdd600; text-decoration: none;margin-bottom: 20px" href="{% url 'employeePayments:e-payments-create' %}"><i class="fas fa-calculator"></i></i> Salary Calculator</a>
    <br>
    <a style="color: #fdd600; text-decoration: none;margin-bottom: 20px" href="{% url 'allowances:allowances-list' %}"><i class="fas fa-arrow-circle-up"></i> Allowances List</a>
    <br>
    <a style="color: #fdd600; text-decoration: none;margin-bottom: 20px" href="{% url 'deductions:deductions-list' %}"><i class="fas fa-arrow-circle-down"></i> Deductions List</a>

    <a style="color: #fdd600; text-decoration: none;margin-bottom: 20px" href="{% url 'supplierPayments:s-payments-list'%}"><i class="fas fa-receipt"></i> Supplier Payments</a>
</ul>