<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay Slip</title>
    {{ ps }}

</head>
<body>

    <h1 style="text-align: center">Grand Elite</h1>

    <hr>
    <br>

    <h5>Pay report for month :{{ ps.month }}</h5>
    <h4>Employee name :{{ ps.empName }}</h4>
    <h4>Employee Id : {{ ps.empID }}</h4>

    <hr>
    <br>

    <table cellpadding="8", cellspacing="8" style="border: #191919">

          <tr style="background-color: #cececb">
            <td>Basic Wage</td>
            <td>{{ ps.basicWage }}</td>

          </tr>

          <tr style="background-color: #faf2e7">
            <td>Allowance</td>
            <td>{{ ps.allowance.amount }}</td>

          </tr >
          <tr style="background-color: #faf2e7">
            <td>Deduction</td>
            <td>{{ ps.deduction.amount }}</td>

          </tr >
          <tr style="background-color: #cececb">
            <td>Net pay</td>
            <td>{{ ps.netPay }}</td>

          </tr>

        </table>

</body>
</html>