{% extends 'layout/dashboard.html' %}

<!--Title-->
{% block title %}
    Deductions
{% endblock %}

<!--Side Nav-->
{% block side_nav_menu %}
    <br>
    {% include 'pms/nav_bar.html' %}
{% endblock %}



    {% load crispy_forms_tags %}

<!--Nav title-->
{% block nav_title %}
    Update Deduction
{% endblock %}

{% block main_content %}


    <form action="" method="post">
       {% csrf_token %}
        <div class="card mt-4">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <a style="color: #fdd600" href="{% url 'deductions:deductions-list' %}"><i class="fas fa-arrow-left"></i></a>
                    </div>

                </div>
            </div>


            <div class="card-body">

                {{form|crispy}}

                <div class="d-flex align-items-end justify-content-center mt-5">
                    <input type="submit" value="Update" style="background-color: #fdd600; border: none; width: 100px; height: 30px">
                </div>



            </div>
        </div>
    </form>

{% endblock %}
