{% extends 'layout/dashboard.html' %}

{% block side_nav_menu %}

<div class="accordion" id="accordionExample">
    <div class="card nav-block">
        <div class="card-header" id="headingOne">

            <h2 class="mb-0">
                <button class="btn btn-outline-warning w-100 btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Inventory
                </button>
            </h2>

        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body nav-card-body">

                <div class="list-group" >
                    <a href="{% url 'category_dashboard' %}" class="list-group-item text-warning list-group-item-action nav-block">Category Dashboard</a>
                    <a href="{% url 'new_category' %}" class="list-group-item text-warning list-group-item-action nav-block">New Category</a>
                    <a href="{% url 'item_dashboard' %}" class="list-group-item text-warning list-group-item-action nav-block">Item Dashboard</a>
                    <a href="{% url 'new_item' %}" class="list-group-item text-warning list-group-item-action nav-block">New Item</a>
            </div>

            </div>
        </div>
    </div>

    <div class="card nav-block">

        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-outline-warning btn-block w-100 text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Supplier
                </button>
            </h2>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body nav-card-body">

                <div class="list-group" >
                    <a href="#" class="list-group-item text-warning list-group-item-action nav-block">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item text-warning list-group-item-action nav-block">Morbi leo risus</a>
                    <a href="#" class="list-group-item text-warning list-group-item-action nav-block">Porta ac consectetur ac</a>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}



