{% extends 'ISMS/general_layout/general_layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    New Category
{% endblock %}

{% block nav_title %}
    New Category
{% endblock %}

{% block main_content %}

    <div class="mt-5">

        <center>

            <div class="card w-75" style="text-align: left">
                <div class="card-body">

                    <!--message window-->
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                        {% endfor %}
                    {% endif %}

                    <h4>Fill Category Form</h4>
                    <hr>

                    <form method="post" action="" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="form-group">
                             {{ category_form.name | as_crispy_field}}
                        </div>

                        <div class="form-group">
                             {{ category_form.description | as_crispy_field}}
                        </div>

                        <div class="form-group">
                             {{ category_form.thumbnail | as_crispy_field}}
                        </div>

                        <div class="form-group mt-2" style="float: right">
                            <button type="submit" class="btn btn-success"><i class="far fa-save"></i>  Save</button>
                            <button type="reset" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i> Reset</button>
                        </div>

                    </form>
                </div>
            </div>

        </center>

    </div>

{% endblock %}