{% extends 'ISMS/general_layout/general_layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    New Item
{% endblock %}

{% block nav_title %}
    Add new item
{% endblock %}

{% block main_content %}

    <div class="card mt-3 mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ item_form.name | as_crispy_field}}
                        </div>

                        <div class="form-group">
                            {{ item_form.description | as_crispy_field}}
                        </div>

                        <div class="form-group">
                            {{ item_form.quantity | as_crispy_field}}
                        </div>

                        <div class="form-group">
                            {{ item_form.notify_level | as_crispy_field}}
                        </div>

                        <div class="form-group">
                            {{ item_form.category | as_crispy_field}}
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-9">
                                    <select class="form-control">
                                        {% for supplier in suppliers %}
                                            <option>{{ supplier.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn w-100 btn-warning"><i class="far fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>



                        <div class="form-group float-left">
                            <button type="submit" class="btn btn-success">Success</button>
                            <button type="button" class="btn btn-danger">Danger</button>
                        </div>

                    </form>

                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body" style="background-color: #d0d8d2">

                            asdasd

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}