<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <hr>

<h1 style="text-align: center">Grand Elite Hotels (pvt) Ltd  </h1>

<h3 style="text-align: center"> <p>
    Address:  	No. 33, Canal Row, Fort, Colombo 01,Sri Lanka.
    <br>
    Tel:  	+94 (0) 11 5341962-63, +94 (0) 11 5341965-66
    <br>
    Fax: 	+94 (0) 11 2432480
    <br>
    E-Mail: grandelitecolombo@gmail.com
</p></h3>

<hr>
<!--{% block nav_title %}-->
    <h1 style="background-color:black; color:gold; font-size:19px; text-align: left">EVENTS LIST</h1>
<!--{% endblock %}-->
 <style>
        td{
            font-weight: bolder;
            text-align: center;
        }
 </style>
</head>
{%  block main_content %}
<br/>

    <div class="container-fluid">
    <!-- Content here -->
        <div class="row gx-5 pt-5">
            <div class="col-md-12 mt-0" style="border:1px solid #80808029; margin-left:5%; padding:15px;background-color:#ffffffde;">


               <table border="1" cellpadding="10">
                    <thead>
                        <tr style="background-color:gold">
                            <th scope="col">Event ID</th>
                            <th scope="col">Event Type</th>
                            <th scope="col">Package</th>
                            <th scope="col">Price (Rs.)</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Customer Email</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time-in</th>
                            <th scope="col">Time-out</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for data in eventbooking_data %}
                        <tr>
                            <td>{{data.event_id}}</td>
                            <td>{{data.event_type}}</td>
                            <td>{{data.package}}</td>
                            <td>{{data.price}}</td>
                            <td>{{data.customer_name}}</td>
                            <td>{{data.customer_phone}}</td>
                            <td>{{data.customer_email}}</td>
                            <td>{{data.date}}</td>
                            <td>{{data.time_in}}</td>
                            <td>{{data.time_out}}</td>
                        </tr>
                        {% endfor %}

                        {% if not  eventbooking_data %}
                            <tr>
                                <td colspan="10" class="text-center">No data available</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

            {% if messages %}
                {% for message in  messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}

            </div>
        </div>
    </div></html>
{% endblock %}