{% extends 'layout/dashboard.html' %}

{% block title %} room bookings List{% endblock %}


{% block side_nav_menu %}

{% endblock %}

{% block nav_title %}
    ROOM BOOKINGS LIST
{% endblock %}

{%  block main_content %}
<br/>

    <div class="container-fluid">
    <!-- Content here -->
        <div class="row gx-5 pt-5">
            <div class="col-md-12 mt-0" style="border:1px solid #80808029; margin-left:5%; padding:15px;background-color:#ffffffde;">


               <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Reservation ID</th>
                            <th scope="col">Room ID</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Phone</th>
                            <th scope="col">Customer Email</th>
                            <th scope="col">Check-in</th>
                            <th scope="col">Check-out</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for data in roombooking_data %}
                        <tr>
                            <td>{{data.reserve_id}}</td>
                            <td>{{data.room_Id.room_id}}</td>
                            <td>{{data.customer_name}}</td>
                            <td>{{data.customer_phone}}</td>
                            <td>{{data.customer_email}}</td>
                            <td>{{data.check_in}}</td>
                            <td>{{data.check_out}}</td>
                        </tr>
                        {% endfor %}

                        {% if not  roombooking_data %}
                            <tr>
                                <td colspan="10" class="text-center">No data available</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

            {% if messages %}
                {% for message in  messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

